body {
  margin: 80px 20px;
}

#root {
  display: grid;
  height: 400px;
  width: 350px;
  border: 2px solid black;
  background-color: #555;
}

button {
  font-size: 24px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
}

.buttons {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
}

.top-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bottom-btns {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.numOps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.operations {
  display: grid;
}

.operations button {
  background-color: orange;
}

label {
  background-color: #efefef;
  grid-column: 1/4;
}

input {
  width: 99%;
  height: 99%;
  margin-right: 25px;
  text-align: right;
  padding: 0px;
  font-size: 36px;
}

#blank {
  background-color: #555;
}

#clear {
  background-color: #f10010;
  color: #fff;
}

#equals {
  background-color: #228b22;
  color: #fff;
}
