* {
  border: 2px solid white;
}

#nav-header-container {
  position: fixed;
  display: block;
  background: green;
  top: 0;
  z-index: 99;
  height: 60px;
}

#nav-header {
  position: relative;
  display: inline-block;
  font-size: 24px;
  margin-top: 15px;
  text-align: center;
}

#navbar {
  background: orangered;
}

#navbar hr {
  width: 100%;
  border-color: #000;
  margin: 0;
}

#nav-links-container {
  padding-top: 60px;
}

#navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#navbar a {
  text-decoration: none;
  color: #000;
}

.nav-link {
  display: flex;
  min-height: 50px;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #000;
}

.menu {
  left: 0;
  margin-top: -20px;
}

.content {
  width: auto;
  left: 400px;
  padding: 0 20px;
}

@media (min-width: 800px) {
  #nav-header-container {
    width: 400px;
    background-color: blue;
    padding-left: 50px;
  }

  .divide {
    position: fixed;
    height: 100%;
    z-index: 1;
    width: 400px;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    bottom: 100%;
  }

  .menu {
    margin-top: -20px;
  }

  .content {
    width: auto;
    left: 400px;
    padding: 0 20px;
  }
}

h1,
h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}

code {
  font-family: "Courier New", Courier, monospace;
}

#main-doc {
  background: yellow;
}

p {
  margin-left: 20px;
}

.anchor:before {
  content: "";
  display: block;
  height: 20px;
  margin-top: -20px;
}

.suggested_used {
  display: grid;
  grid-template-columns: 50% 50%;
}
.code_snippet {
  margin: 20px;
  width: 400px;
  background-color: #efefef;
  border: 2px solid #000;
  padding: 10px;
}

.code_paragraph {
  margin: 20px;
  font-size: 0.75rem;
  background-color: #efefef;
  border: 2px solid #000;
  padding: 5px;
  width: auto;
}

.code_paragraph ul {
  list-style: none;
  padding-left: 1rem;
}

.code_paragraph ul {
  list-style: none;
  padding-left: 1rem;
}

.code_example h4 {
  text-align: center;
}

footer {
  content: "";
  display: block;
  padding-bottom: 80px;
  margin-bottom: -80px;
}
