* {
}

#nav-header-container {
}

#nav-header {
  position: fixed;
  display: inline block;
  font-size: 24px;
  background-color: #c2c2c2;
  top: 0;
  left: 0;
  height: 50px;
  width: 800px;
  padding-top: 10px;
  padding-left: 20px;
  border: 0.1px solid white;
}

#nav-button {
  font-size: 16px;
  margin-left: 15px;
  padding: 5px;
  background: #000;
  color: #fff;
  border: 2px solid #000;
}

#nav-button:hover {
  background: #fff;
  color: #000;
}
#nav-links-container {
  padding-top: 35px;
}

#navbar {
  background: #efefef;
  margin-top: 25px;
  height: 200px;
  overflow: scroll;
}

.content {
  margin: 0 20px;
}
/* Not touched */

@media (min-width: 800px) {
  #nav-header-container {
    position: fixed;
    display: block;
    top: 0;
    z-index: 99;
    height: 60px;
    padding-left: 0px;
  }

  #nav-header {
    position: relative;
    display: inline-block;
    font-size: 24px;
    margin-top: 0px;
    padding-left: 50px;
    width: 350px;
    overflow: hidden;
  }

  #navbar {
    margin-top: -20px;
    height: 100%;
    overflow: scroll;
  }

  #nav-button {
    display: none;
  }

  #navbar hr {
    width: 100%;
    border-color: #000;
    margin: 0;
  }

  #nav-links-container {
    padding-top: 60px;
  }

  #navbar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  #navbar a {
    text-decoration: none;
    color: #000;
  }

  .nav-link {
    display: flex;
    min-height: 50px;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000;
  }

  .divide {
    position: fixed;
    height: 100%;
    z-index: 1;
    width: 400px;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    bottom: 100%;
  }

  .menu {
    margin-top: -20px;
  }

  .content {
    width: auto;
    left: 400px;
    padding: 0 20px;
  }
  #nav-button {
    display: hidden;
  }
}

#navbar hr {
  width: 100%;
  border-color: #000;
  margin: 0;
}

#navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#navbar a {
  text-decoration: none;
  color: #000;
}

.nav-link {
  display: flex;
  min-height: 50px;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #000;
}

h1,
h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}

code {
  font-family: "Courier New", Courier, monospace;
}

#main-doc {
}

p {
  margin-left: 20px;
}

.anchor:before {
  content: "";
  display: block;
  position: relative;
  height: 40px;
  margin-top: -40px;
}

.suggested_used {
  display: grid;
  grid-template-columns: 50% 50%;
}
.code_snippet {
  margin: 20px;
  width: 400px;
  background-color: #efefef;
  border: 2px solid #000;
  padding: 10px;
}

.code_paragraph {
  margin: 20px;
  font-size: 0.75rem;
  background-color: #efefef;
  border: 2px solid #000;
  padding: 5px;
  width: auto;
}

.code_paragraph ul {
  list-style: none;
  padding-left: 1rem;
}

.code_paragraph ul {
  list-style: none;
  padding-left: 1rem;
}

.code_example h4 {
  text-align: center;
}

footer {
  content: "";
  display: block;
  padding-bottom: 80px;
  margin-bottom: -80px;
}
