#drum-machine {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

#display {
  background-color: #e6e6e6;
  width: 450px;
  height: 250px;
  justify-content: center;
}

.currentKey {
  color: #ffffff;
  font-size: 24px;
  height: 1rem;
  width: 30%;
  margin: auto;
  padding: 15px;
  background-color: #0000ee;
  text-align: center;
}

.mainPad {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
