body {
  margin: 50px;
}
.app {
  display: grid;
  grid-template-columns: 35% 65%;
}

.sectionTitle {
  font-size: medium;
  font-weight: bold;
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 0px;
}

.editor .sectionTitle {
  width: 78.5%;
}

textarea {
  background-color: #e6e6e6;
  width: 80%;
  height: 50vh;
  overflow: scroll;
}

.output {
  background-color: #e6e6e6;
  border: 1px solid black;
  padding: 5px;
  height: 100vh;
  overflow: scroll;
}

code {
  background-color: #fff;
  padding: 2px;
}

@media (max-width: 780px) {
  .app {
    display: block;
  }
  textarea {
    height: 20vh;
  }
}
